<!DOCTYPE html>
<html>
<head>
  <title>Jason Watson - Web Developer</title>
  <meta property="article:tag" content="Jason Watson">
  <meta name="author" content="Jason Watson">
  <meta name="subjects" content="Jason Watson">
  <meta name="keywords" content="Jason Watson">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="wrapper">
  <%= render 'layouts/navigation' %>
  <div class="container">
    <%= yield %>
  </div>
</div>
  <%= render 'layouts/footer' %>
</body>
</html>
